<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= simple_form_for(:user, method: :post, url: sign_in_users_path) do |f| %>
        <div class="modal-body">
          <div class="form-inputs">
            <%= f.input :email %>
            <%= f.input :password %>
          </div>

          <div class="form-actions">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, 'Sign in', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
