<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <h4 class="mb-3">Edit widget</h4>

      <%= render partial: 'form', locals: { widget: @widget } %>
    </div>
  </div>
</div>
